* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  margin-top: 3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/Bcg.jpeg) center/cover no-repeat;
  min-height: 100vh;
  font-family: "Cinzel", serif;
}

.addItems-container {
  background: #ffad05;
}
.addItems-container,
.displayItems-container {
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  border: 2px solid #fff8f0;
  box-shadow: 0 5px 10px #fff8f0;
}

.addItems-title,
.displayItems-title {
  text-transform: capitalize;
  letter-spacing: 0.3rem;
}

.addItems-title {
  color: #fff8f0;
}
.addItems-action,
.displayItems-action {
  border: 2px solid #fff8f0;
  padding: 0.5rem 0;
  text-transform: capitalize;
  border-radius: 0.5rem;
  display: none;
}
.addItems-input {
  background: transparent;
  border: none;
  border-bottom: 5px solid #fff8f0;
  width: 100%;
  font-size: 2rem;
  padding: 0.5rem;
  color: #fff8f0;
  outline: none;
  text-transform: uppercase;
}

.addItems-submit,
.displayItems-clear {
  display: block;
  width: 80%;
  margin: 2rem auto 0 auto;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
  outline: none;
  font-family: "Cinzel", serif;
  letter-spacing: 0.3rem;
}

.addItems-submit {
  color: #fff8f0;
  background: transparent;
  border: 3px solid #fff8f0;
  transition: all 1s ease;
}

.addItems-submit:hover {
  background: #fff8f0;
  color: #ffad05;
}

.displayItems-container {
  background: #8fc93a;
}
.displayItems-title {
  color: #07020d;
  margin-bottom: 0.25rem;
}
.grocery-item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 1s ease-in-out;
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
}
.grocery-item:hover {
  background: #4c4c47;
  color: #8fc93a;
  font-weight: bolder;
}
.grocery-item__title {
  text-align: left;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #fff8f0;
}
.grocery-item__link {
  color: #f06449;
  transition: all 1s linear;
}
.grocery-item:hover .grocery-item__link {
  transform: scale(1.3);
}
.displayItems-clear {
  color: #07020d;
  background: transparent;
  border: 3px solid #07020d;
  transition: all 1s ease;
}

.displayItems-clear:hover {
  background: #07020d;
  color: #8fc93a;
}

/* action classes */
.alert {
  color: #a3000d;
  border-color: #a3000d;
  display: block;
  margin-bottom: 0.5rem;
}
.success {
  color: #046c3c;
  border-color: #046c3c;
  display: block;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  body {
    grid-template-columns: 50%;
  }
}
